.box{
  border: 3px solid black;
  width: 500px;
  margin: 3em;
  padding: 1em
}

.item-img{
  width: 400px;
}
.main{
  display: flex;
  justify-content: center;
}
.button{
  display: flex;
  justify-content: center;
}